@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x:hidden
}
body::-webkit-scrollbar{
    width: 3px;
    /* mix-blend-mode: difference; */
    background: #202020;
}
body::-webkit-scrollbar-thumb{
    background: #e4e3e3;
    border-radius: 10px;
}

html{
    scroll-behavior: smooth;
}


